<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	
<connectionStrings>
    <add name="cc" connectionString="Data Source=10.168.16.78\MSSQLSRV2019;Initial Catalog=SQLTraining;Persist Security Info=True;User ID=AWLDhrishti;Password=AWLDhrishti;Encrypt=False" providerName="System.Data.SqlClient"/>
</connectionStrings>

	<appSettings>
    <add key="cc" value="Data Source=10.168.16.78\MSSQLSRV2019;Initial Catalog=SQLTraining;Persist Security Info=True;User ID=AWLDhrishti;Password=AWLDhrishti;Encrypt=False" />
</appSettings>

    </startup>
</configuration>